body {
  background-image: url('./static/deer1.jpg');
  background-size: cover;
  background-position: center;
}

#segments {
  z-index: 5;
  position: relative;
  margin-top: 350px !important;
  margin-bottom: 350px;
  display: none;
}

div {
  margin-top: 0 !important;
}

h3 {
  margin: 0 0 auto; !important;
  font-size: 30px;
  text-align: right;
 /* color: rgba(139,69,19, .3);*/
  color: rgba(25,51,0, .3);
  font-family: 'Libre Baskerville', serif;
  -webkit-animation-name: flicker;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

.flicker {
  -webkit-animation-name: flicker-low;
  -webkit-animation-duration: 3s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

a:hover {
  text-decoration: : none !important;
}

/*flicker animations*/
@-webkit-keyframes flicker {
  from {
    opacity: 0.2;
  }
  4% {
    opacity: 0.5;
  }
  6% {
    opacity: 0.35;
  }
  8% {
    opacity: 0.55;
  }
  10% {
    opacity: 0.45;
  }
  11% {
    opacity: 0.5;
  }
  12% {
    opacity: 0.65;
  }
  14% {
    opacity: 0.55;
  }
  16% {
    opacity: 0.70;
  }
  17% {
    opacity: 0.55;
  }
  19% {
    opacity: 0.5;
  }
  20% {
    opacity: 0.5;
  }
  24% {
    opacity: 0.5;
  }
  26% {
    opacity: 0.69;
  }
  28% {
    opacity: 0.5;
  }
  38% {
    opacity: 0.45;
  }
  40% {
    opacity: 0.5;
  }
  42% {
    opacity: 0.6;
  }
  44% {
    opacity: 0.35;
  }
  46% {
    opacity: 0.3;
  }
  56% {
    opacity: 0.5;
  }
  58% {
    opacity: 0.75;
  }
  60% {
    opacity: 0.5;
  }
  68% {
    opacity: 0.5;
  }
  70% {
    opacity: .6; /*peak*/
  }
  72% {
    opacity: 0.45;
  }
  93% {
    opacity: 0.3;
  }
  95% {
    opacity: .6; /*peak*/
  }
  97% {
    opacity: 0.5;
  }
  to {
    opacity: 0.45;
  }
}

@-webkit-keyframes flicker-low {
  from {
    opacity: 0.25;
  }
  4% {
    opacity: 0.2;
  }
  6% {
    opacity: 0.35;
  }
  8% {
    opacity: 0.45;
  }
  10% {
    opacity: 0.35;
  }
  11% {
    opacity: 0.3;
  }
  12% {
    opacity: 0.55;
  }
  14% {
    opacity: 0.45;
  }
  16% {
    opacity: 0.60;
  }
  17% {
    opacity: 0.45;
  }
  19% {
    opacity: 0.4;
  }
  20% {
    opacity: 0.4;
  }
  24% {
    opacity: 0.4;
  }
  26% {
    opacity: 0.79;
  }
  28% {
    opacity: 0.3;
  }
  38% {
    opacity: 0.25;
  }
  40% {
    opacity: 0.3;
  }
  42% {
    opacity: 0.4;
  }
  44% {
    opacity: 0.5;
  }
  46% {
    opacity: 0.5;
  }
  56% {
    opacity: 0.5;
  }
  58% {
    opacity: 0.75;
  }
  60% {
    opacity: 0.5;
  }
  68% {
    opacity: 0.5;
  }
  70% {
    opacity: .6; /*peak*/
  }
  72% {
    opacity: 0.5;
  }
  93% {
    opacity: 0.5;
  }
  95% {
    opacity: .6; /*peak*/
  }
  97% {
    opacity: 0.5;
  }
  to {
    opacity: 0.2;
  }
}

