body {
  background-image: url('./static/deer1.jpg');
  background-size: cover;
}

.visible {
  z-index: -1;
  position: absolute;
}

.segments {
  z-index: 5;
  position: relative;
}

div {
  margin-top: 0 !important;
}

h3 {
  margin-top: 0 !important;
}
